.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.subtitle {
    margin: 0;
    font-size: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 28px;
    gap: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 100px;
    background-color: lightgray;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
}