.container {
  padding: 0 0rem;
}

.main {
background-color: #ddd;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-wrapper {
    padding: 30px;
}

.home-title {
    height: 100px;
    font-size: 28px;
}

.home-subtitle {
    font-size: 15px;
}

.home-image {
    width: 350px;
    height: 420px;
    border: solid black 5px;
}

.authentication {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.authentication > button {
    width: 150px;
    height: 45px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
}

.login {
    background-color: #585757;
    opacity: 35%;
}

.signup{
    background-color: #585757;
}

