.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
    height: 100px;
    background-color: blue;
}

.home-image {
    width: 200px;
    height: 300px;
    border: solid blue 5px;
}

.authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

