.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.signup-title {
    font-size: 28px;
    border-bottom: solid 1px #5A5A5A;
    width: 330px;
    padding: 20px;
    line-height: 1.5;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.signup-form > label {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}

.signup-form input {
    height: 50px;
    width: 330px;
    border-radius: 15px;
    border: none;
    background-color: #5A5A5A;
    opacity: 40%;
    padding: 15px;
    color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.signup-form input::placeholder {
    color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 15px;
}

.check-duplicate {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 600;
}

.check-duplicate button {
    height: 20px;
    width: 120px;
    border-radius: 8px;
    background-color: #585757;
    border: none;
    color: white;
}

.password-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-form > button {
    margin-top: 40px;
    height: 50px;
    width: 334px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #5A5A5A;
    border-radius: 12px;
    border: none;
}
